<div class="ui container">
  <div>
    <h1>Student List</h1>
    <button class="ui basic green button " (click)="loadAddStudentModal()">
      Add
    </button>
  </div>
  <br>
  <div class="ui container">
    <table *ngIf="students && students.length > 0; else elseBlock" class="ui celled table">
      <thead>
        <tr>
          <th>S/N</th>
          <th>Matric Number</th>
          <th>Name</th>
          <th>Department</th>
          <th>Faculty</th>
          <th>Level</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students ; let i=index">
          <td>{{i+1}}</td>
          <td>{{student.matricNo}}</td>
          <td>
            <h4 class="ui header">
              <div class="content">
                {{student.firstName}} {{student.lastName}}
              </div>
            </h4>
          </td>
          <td>{{student.department}}</td>
          <td>{{student.faculty}}</td>
          <td>{{student.level}}</td>
          <td>
            <div class="ui three buttons">
              <button class="ui basic blue button" (click)="loadStudentDetailsModal(student)">Details</button>
              <button class="ui basic yellow button" (click)="loadEditStudentModal(student)">Edit</button>
              <button class="ui basic red button" (click)="loadDeleteConfirmation(student)">Delete</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<ng-template #elseBlock>
  <div class="ui container">
    <h4 class=" ui error">No student has been added.</h4>
  </div>
</ng-template>


<div class="ui modal scrolling transition hidden" style="top: 466px;" id="addStudentForm">
  <i class="close icon"></i>
  <div class="header">
    Add A Student
  </div>
  <div class="content">
    <form class="ui form" (ngSubmit)="add()">
      <h4 class="ui dividing header">Personal Information</h4>
      <div class="two fields">
        <div class="field">
          <label for="firstName">First Name</label>
          <input type="text" name="firstName" placeholder="First Name" required [(ngModel)]="newStudent.firstName">
        </div>
        <div class="field">
          <label for="lastName">Last Name</label>
          <input type="text" name="lastName" placeholder="Last Name" required [(ngModel)]="newStudent.lastName">
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label for="dob">Date of Birth</label>
          <input type="date" name="dob" placeholder="Date of Birth" [(ngModel)]="newStudent.dob" required>
        </div>
        <div class="field">
          <label>Gender</label>
          <select class="ui dropdown" name="gender" [(ngModel)]="newStudent.gender" required>
            <option value="default">Select a Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>
      </div>
      <h4 class="ui dividing header">Student Information</h4>
      <div class="four fields">
        <div class="field">
          <label for="matricNo">Matric No.</label>
          <input type="text" name="matricNo" placeholder="Matric No." required [(ngModel)]="newStudent.matricNo">
        </div>
        <div class="field">
          <label for="faculty">Faculty</label>
          <select class="ui dropdown" name="faculty" id="faculty" [(ngModel)]="newStudent.faculty" required (change)="onFacultySelected()">
            <option value="default">Select a Faculty</option>
            <option *ngFor="let faculty of faculties" value={{faculty.name}}>{{faculty.name}}</option>
          </select>
        </div>
        <div class="field">
          <label for="department">Department</label>
          <select class="ui dropdown" name="department" id="department" [(ngModel)]="newStudent.department" required>
            <option value="default">Select a Department</option>
            <option *ngFor="let department of departments" value={{department.name}}>{{department.name}}</option>
          </select>
        </div>
        <div class="field">
          <label for="level">Level</label>
          <select class="ui dropdown" name="level" id="level" [(ngModel)]="newStudent.level" required>
            <option value="default">Select a Level</option>
            <option value="100">100</option>
            <option value="200">200</option>
            <option value="300">300</option>
            <option value="400">400</option>
            <option value="500">500</option>
            <option value="600">600</option>
          </select>
        </div>
      </div>
      <input class="ui primary button" type="submit" value="Submit">
      <!-- <div class="ui error message"></div> -->
    </form>
  </div>
</div>

<div class="ui modal scrolling transition hidden" style="top: 466px;" id="editStudentForm">
  <i class="close icon"></i>
  <div class="header">
    Edit Student
  </div>
  <div class="content">
    <form class="ui form" (ngSubmit)="edit()">
      <h4 class="ui dividing header">Personal Information</h4>
      <div class="two fields">
        <div class="field">
          <label for="firstName">First Name</label>
          <input type="text" id="editStudent-firstName" name="firstName" placeholder="First Name" required [(ngModel)]="newStudent.firstName">
        </div>
        <div class="field">
          <label for="lastName">Last Name</label>
          <input type="text" id="editStudent-lastName" name="lastName" placeholder="Last Name" required [(ngModel)]="newStudent.lastName">
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label for="dob">Date of Birth</label>
          <input type="date" id="editStudent-dob" name="dob" placeholder="Date of Birth" [(ngModel)]="newStudent.dob" required>
        </div>
        <div class="field">
          <label for="gender">Gender</label>
          <select class="ui dropdown" id="editStudent-gender" name="gender" [(ngModel)]="newStudent.gender" required>
            <option>Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>
      </div>
      <h4 class="ui dividing header">Student Information</h4>
      <div class="four fields">
        <div class="field">
          <label for="matricNo">Matric No.</label>
          <input type="text" id="editStudent-matricNo" name="matricNo" placeholder="Matric No." required [(ngModel)]="newStudent.matricNo">
        </div>
        <div class="field">
          <label for="faculty">Faculty</label>
          <input type="text" id="editStudent-level" name="faculty" placeholder="Faculty" required [(ngModel)]="newStudent.faculty">
        </div>
        <div class="field">
          <label for="department">Department</label>
          <input type="text" id="editStudent-department" name="department" placeholder="Department" required [(ngModel)]="newStudent.department">
        </div>
        <div class="field">
          <label for="level">Level</label>
          <input type="text" id="editStudent-level" name="level" placeholder="Level" required [(ngModel)]="newStudent.level">
        </div>
      </div>
      <input class="ui primary button" type="submit" value="Update">
    </form>
  </div>
</div>

<div class="ui modal scrolling transition hidden" style="top: 466px;" id="viewStudentForm">
  <i class="close icon"></i>
  <div class="header" id="studentDetails-name"></div>
  <div class="content">
    <table class="ui very basic definition  table" style="border:0px">
      <tr>
        <td>Matric Number</td>
        <td id="studentDetails-matricNo"></td>
      </tr>
      <tr>
        <td>First Name</td>
        <td id="studentDetails-firstName"></td>
      </tr>
      <tr>
        <td>Last Name</td>
        <td id="studentDetails-lastName"></td>
      </tr>
      <tr>
        <td>Gender</td>
        <td id="studentDetails-gender"></td>
      </tr>
      <tr>
        <td>Date of Birth</td>
        <td id="studentDetails-dob"></td>
      </tr>
      <tr>
        <td>Department</td>
        <td id="studentDetails-department"></td>
      </tr>
      <tr>
        <td>Faculty</td>
        <td id="studentDetails-faculty"></td>
      </tr>
      <tr>
        <td>Level</td>
        <td id="studentDetails-level"></td>
      </tr>
    </table>
  </div>
</div>

<div class="ui test mini modal" id="deleteStudentConfirmation">
  <i class="close icon"></i>
  <div class="header">
    Delete Student
  </div>
  <div class="content">
    <div class="ui">Are you sure you want to delete this record?</div>
  </div>
  <div class="actions">
    <button class="ui red right button" (click)="delete()">
      Delete
    </button>
  </div>
</div>