<div class="ui container">
  <div>
    <h1>Student List</h1>
    <button class="ui basic green button " (click)="loadAddStudentModal()">
      Add
    </button>
  </div>
  <br>
  <div class="ui container">
    <table *ngIf="students && students.length > 0; else elseBlock" class="ui celled table">
      <thead>
        <tr>
          <th>S/N</th>
          <th>Matric Number</th>
          <th>Name</th>
          <th>Department</th>
          <th>Faculty</th>
          <th>Level</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students ; let i=index">
          <td>{{i+1}}</td>
          <td>{{student.matricNo}}</td>
          <td>
            <h4 class="ui header">
              <div class="content">
                {{student.firstName}} {{student.lastName}}
              </div>
            </h4>
          </td>
          <td>{{student.department}}</td>
          <td>{{student.faculty}}</td>
          <td>{{student.level}}</td>
          <td>
            <div class="ui three buttons">
              <button class="ui basic blue button" (click)="loadStudentDetailsModal(student)">Details</button>
              <button class="ui basic yellow button" (click)="loadEditStudentModal(student)">Edit</button>
              <button class="ui basic red button" (click)="loadDeleteConfirmation(student)">Delete</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<ng-template #elseBlock>
  <div class="ui container">
    <h4 class=" ui error">No student has been added.</h4>
  </div>
</ng-template>


<div class="ui modal scrolling transition hidden" style="top: 466px;" id="addStudentForm">
  <div class="header">
    Add A Student
  </div>
  <div class="content">
    <form class="ui form" (ngSubmit)="add()" #addStudentForm="ngForm">
      <h4 class="ui dividing header">Personal Information</h4>
      <div class="two fields">
        <div class="field">
          <label>First Name</label>
          <input type="text" name="firstName" placeholder="First Name" required [(ngModel)]="newStudent.firstName">
        </div>
        <div class="field">
          <label>Last Name</label>
          <input type="text" name="lastName" placeholder="Last Name" required [(ngModel)]="newStudent.lastName">
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Date of Birth</label>
          <input type="date" name="dob" placeholder="Date of Birth" [(ngModel)]="newStudent.dob" required>
        </div>
        <div class="field">
          <label>Gender</label>
          <select class="ui dropdown" name="gender" [(ngModel)]="newStudent.gender" required>
            <option>Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>
      </div>
      <h4 class="ui dividing header">Student Information</h4>
      <div class="four fields">
        <div class="field">
          <label>Matric No.</label>
          <input type="text" name="matricNo" placeholder="Matric No." required [(ngModel)]="newStudent.matricNo">
        </div>
        <div class="field">
          <label>Faculty</label>
          <input type="text" name="department" placeholder="Faculty" required [(ngModel)]="newStudent.faculty">
        </div>
        <div class="field">
          <label>Department</label>
          <input type="text" name="lastName" placeholder="Department" required [(ngModel)]="newStudent.department">
        </div>
        <div class="field">
          <label>Level</label>
          <input type="text" name="level" placeholder="Level" required [(ngModel)]="newStudent.level">
        </div>
      </div>
      <input class="ui primary button" type="submit" value="Submit">
    </form>
  </div>
</div>

<div class="ui modal scrolling transition hidden" style="top: 466px;" id="editStudentForm">
  Edit Student Modal
</div>

<div class="ui modal scrolling transition hidden" style="top: 466px;" id="viewStudentForm">
  <div class="header" id="studentDetails-name"></div>
  <div class="content">
    <table class="ui very basic definition  table" style="border:0px">
      <tr>
        <td>Matric Number</td>
        <td id="studentDetails-matricNo"></td>
      </tr>
      <tr>
        <td>First Name</td>
        <td id="studentDetails-firstName"></td>
      </tr>
      <tr>
        <td>Last Name</td>
        <td id="studentDetails-lastName"></td>
      </tr>
      <tr>
        <td>Gender</td>
        <td id="studentDetails-gender"></td>
      </tr>
      <tr>
        <td>Date of Birth</td>
        <td id="studentDetails-dob"></td>
      </tr>
      <tr>
        <td>Department</td>
        <td id="studentDetails-department"></td>
      </tr>
      <tr>
        <td>Faculty</td>
        <td id="studentDetails-faculty"></td>
      </tr>
      <tr>
        <td>Level</td>
        <td id="studentDetails-level"></td>
      </tr>
    </table>
  </div>
</div>